@tailwind base;
@tailwind components;
@tailwind utilities;

.overlapGrid {
  display: grid;
  grid-template-areas: "image" "overlay";
  position: relative;
}

.shadow-div {
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
}